<ion-header>
    <ion-toolbar>
        <ion-title>RealTime Chat</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="auth-container">
        <div class="auth-logo">
            <ion-icon name="person-add-outline"></ion-icon>
            <h1>Create Account</h1>
            <p>Join the conversation</p>
        </div>

        <form [formGroup]="registerForm" (ngSubmit)="register()" class="auth-form">
            <div class="input-group">
                <ion-item lines="none" class="auth-input">
                    <ion-input label="Username" labelPlacement="floating" formControlName="username"></ion-input>
                </ion-item>
            </div>
            <div class="input-group">
                <ion-item lines="none" class="auth-input">
                    <ion-input label="Password" labelPlacement="floating" type="password"
                        formControlName="password"></ion-input>
                </ion-item>
            </div>
            <ion-button expand="block" type="submit" [disabled]="!registerForm.valid" class="auth-btn">
                Create Account
            </ion-button>
        </form>

        <div class="auth-footer">
            <p>Already have an account? <a routerLink="/login">Sign In</a></p>
        </div>
    </div>
</ion-content>